/*==========================================
    counter
==========================================*/
.counter {
    padding: 120px 0 125px 0;
    background: url('../img/counter.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $base-color;
        opacity: .75;
        z-index: -1;
    }
    .single-counter {
        text-align: center;
        margin-bottom: -9px;
        .part-icon {
            width: 197px;
            height: 197px;
            border: 3px solid $base-color-2;
            font-size: 52px;
            color: $white;
            line-height: 198px;
            border-radius: 50%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 24px;
        }
        .part-text {
            h3 {
                font-size: 45px;
                color: $white;
                font-weight: 600;
                text-transform: capitalize;
            }
            span {
                display: inline-block;
                &.count-name {
                    font-size: 22px;
                    color: $white;
                    opacity: .8;
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }
        }
    }
}